

.af-register-form {
  display: grid;
  justify-content: center;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;

  font-size: 19px;
}


.example-card {
  max-width: 400px;
}

.af-password-field {
  margin-bottom: 112px;
}


.af-error-label {
  margin-bottom: 4px;
}

.af-password-field-label {
  margin-bottom: 4px;
}

.af-error-label-success {
  color: green;
}

.af-error-label-danger {
  color : red;
}
